p{
    text-align: center !important;
    font-size: auto;
    font-family: Quinteessential;
}
body{
   border: mediumblue;
   padding: 10px;
   border-radius: 2px solid;
   text-align: center !important;
}
figure{
   background-color: black;
}
.container-fluid{
   background-color: black;
}
.contenidi{

padding-left: 0 !important;
padding-right: 0 !important;
width: 100% !important;
}
.contenedorprincipal{
    height: 1000px;
    width: 100%;
}
.footers{
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
center{
    background-color: black;
    text-align: center;
    height: 600px;
}
body{
    background-color: black;
    color: white;
    font-family: Quintessential;
}

h2,h1{
    text-align: center;
    color: white;
    font-family: Castellar ;
}

#myCarousel{
    background-color: black;
    width: 100%;
height: 500px;
}
footer {
text-align: center;
padding: 3px;
background-image: linear-gradient(black,gray,black);
color: white;
}